body {
	background-color: #3F92D2;
}
#top {
	margin: auto;
	width: 625px;
	padding: 5px;
	border: 2px solid black;
}
.container {
	width: 700px;	margin: auto;
	border: 5px solid black;
	padding: 20px 20px 20px 20px;
}
#todo-list {
	display: inline-block;
	background-color: #0B61A4;
	width: 300px;
	height: 600px;
	border: 2px solid black;
	padding: 10px 10px 10px 10px;
	float: left;
	
}
#completed-list {
	background-color: #00BFFF;
	display: inline-block;
	width: 300px;
	height: 600px;
	border: 2px solid black;
	padding: 10px 10px 10px 10px;
	float: left;
}
#list-one {
	position: absolute;
}
#list-two {
	position: absolute;

}
.black-font {
	font-style: black;
}
.red-font {
	font-style: red;
}